.fomulario {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0.6rem;
    
    label {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }

    button {
        height: 27px;
        margin: 5px;
        border-radius: 5px;
        font-size: 15px;
    }
}

.filtro-categorias {
    position: relative;
    right: -50%;
    transform: translate(-50%);
}

