.img-card {
    max-width:12rem !important;
    

}
.input-quant {    
    max-width: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.texto {
    display: flex !important;
    justify-content: center !important;
    .text-card {
        font-size: 2.0rem;
        .titulo-prod {
            font-size: 2.2rem;
            font-weight: 500;
        }
        .valor {
            font-weight: 500;
        }
    }
}

.buttons-icons {
    border:none;
    background: none;
    text-align: center; 
    align-items: center; 
      
    
}

.div-trash {    
    display: flex;    
    justify-content: end !important;
    margin-right: 3rem;
    

}

.div-total {    
    display: flex; 
    align-items: flex-end;
    flex-direction:column;
    padding-right: 6.5rem;
    border-bottom: 1px solid #dee2e6;
    
    
    gap: 1rem;
    .div-total-valor {
        font-size: 2.3rem;
        font-weight: 500;

    }
    .div-total-x {
        font-size: 2rem;
    }
       
    
}


.div-item {
    display:flex;     
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 0 !important;
    
    
}

.buttons-compra {
    border: none;
    display: flex;       
    align-items: flex-end;
    flex-direction: column;
    padding-right: 6.5rem;
    margin-bottom: 10rem;
    margin-top: 3rem;
    gap: 1rem;

    .btn-car {
        width: 19rem;
        font-size: 1.5rem;
        padding: 0.9rem;
    }
}