@import '../../Sass/abstracts/mixins.scss';
.div-trash {    
    display: flex;    
    justify-content: flex-end !important;
    margin-right: 3rem;
}

.div-total {    
    display: flex; 
    align-items: flex-end;
    flex-direction:column;
    padding-right: 6.5rem;
    border-bottom: 1px solid #dee2e6;
    gap: 1rem;
    
    @include respond(phone) {
        padding-right: 0;
        align-items: center;
    }
    
    .div-total-valor {
        font-size: 2.3rem;
        font-weight: 500;
    }
    .div-total-x {
        font-size: 2rem;
        
        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }
}

.div-item {
    display:flex;     
    justify-content: space-between;
    align-items: center;    
    margin: 2rem 0 !important;  
}

.buttons-compra {
    border: none;
    display: flex;       
    align-items: flex-end;
    flex-direction: column;
    padding-right: 6.5rem;
    margin-bottom: 30rem;
    margin-top: 3rem;
    gap: 1rem;
    
    .btn-car {
        width: 19rem;
        font-size: 1.5rem;
        padding: 0.9rem;
    }
    
    @include respond(phone) {
        align-items: center;
        padding-right: 0;
    }
}