@import '../../Sass/abstracts/mixins.scss';

.container-item-produto {
    cursor: pointer;
    transition: ease-out 0.2s;
    box-shadow: -1px 2px .9rem  rgba(0, 0, 0, 0.479);
    -webkit-box-shadow: -1px 2px .9rem  rgba(0, 0, 0, 0.479);
    -moz-box-shadow: -1px 2px .9rem  rgba(0, 0, 0, 0.479);
}

.img-card {
    max-width:12rem !important;
    &:hover {
        cursor: pointer;
    }
}

.input-quant {    
    max-width: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.texto {
    display: flex !important;
    justify-content: center !important;
    .text-card {
        font-size: 2.0rem;
        .titulo-prod {
            font-size: 2.2rem;
            font-weight: 500;
        }
        .valor {
            font-weight: 500;
        }
    }
}

.buttons-icons {
    border:none;
    background: none;
    text-align: center; 
    align-items: center; 
}

.info {
    width: 100%;
    
    @include respond(phone) {
        text-align: center;
    }
}

.excluir {
    @include respond(phone) {
        padding: 10px;

        .lixeira {
            margin-right: 25px;
        }
    }
}
