@import '../../Sass/abstracts/variables.scss';

.section-equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 15rem;
    &__titulo-section {
        margin-bottom: 2rem;
        font-size: 3rem;
        justify-content: center;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;     
    }
        .section-equipe__container__integrante {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 22rem;
            flex-direction: column;
            border-radius: 15px;
            gap: 1rem;
            margin: 1rem;
            padding: 1.5rem;
            background-color: $primary-color-dark;
            border: 1.5px solid gray;
            }

            .section-equipe__container__integrante:hover {
                transform: scale(1.05);
                transition-duration:  0.5s;
                box-shadow: 6px 10px 15px rgba(0, 0, 0, 0.6);
            }

            .section-equipe__container__integrante__icon {
                .iconLinkedin{
                    color: #ffd786;
                    opacity: 0.9;
                    margin: 4px;
                }
            }

            .section-equipe__container__integrante__icon {
                .iconLinkedin:hover{
                transform: scale(1.3);
                color: #f5bb47;
                transition-duration:  0.3s;
                }
            }

            .section-equipe__container__integrante__icon {
                .iconGitHub{
                    color: #ffd786;
                    opacity: 0.9;
                    margin: 4px;
                }   
            }
            .section-equipe__container__integrante__icon {
                .iconGitHub:hover{
                transform: scale(1.3);
                transition-duration:  0.3s;
                color: #f5bb47;
                }
            }

            .section-equipe__container__integrante__titulo__nome {
                justify-content: center;
                color: #f5bb47;
                font-size: 2.5rem;
                font-weight: bold;
            }   

            .text {
                justify-content: center;
                color: #ceb0d6;
                font-size: 1.9rem;
            }

            img{
                border-radius:50%;
                box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
            }

}
        


