.menu-paginacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 17px;

    select {
        margin-left: 10px;
        width: 60px;
        height: 40px;
    }
}

.botao-paginacao {
    font-size: 17px;
    width: 50px;
    height: 30px;
    margin: 5px;
    background-color: #3483fa;
    color: #f3f3f3;
    border: none;
    border-radius: 3px;
    transition: all .3s;
    outline: 1px solid transparent;
    &:hover {
        transform: scale(1.05);
        outline-color: #3483fa;
        outline-offset: .3rem;
    }
}