.btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    &:focus {
        border: none;
        outline: none;
    }
}

.form {
    position: relative;
    max-width: 60rem;
}

input::-webkit-input-placeholder {
    font-size: 1.3rem;
}
input {
    height: 4rem;
}
