.title {
  text-align: center;
  margin: 15px 20px;
}

.container_produto {
  margin: 0 10px;
}

.imagem {
  width: 100%;
}

.container_imagem {
  // border: 1px gray solid;
}

.container_descricao {
  // border: 1px gray solid;
}

.container_precoDesconto {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  font-size: 25px;
  
}

.desconto {
  color: green;
}

.dozeVezes {
  margin-left: 30px;
  font-size: 16px;
  color: green;
}

.freteGratis {
  margin-left: 30px;
  font-size: 14px;
  color: green;
}

.descricao {
  margin: 0 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 13px;
}

.container_botao {
  display: flex;
  justify-content: center;
}

.buttonComprar {
  color: white;
  background-color: blue;
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}


.buttonAdicionar {
  color: white;
  background-color: blue;
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}


// @media (min-width:426px) {
//   .container_produto {
//     display: flex;
//     justify-content: center;
//     margin: 0 50px;
//   }

//   .container_imagem {
//     width: 800px;
//     height: 800px;
//     text-align: center;
//     border: 1px solid black;
//   }

//   .imagem {
//     width: 100%;
//     height: 500px;
//   }

//   .container_descricao {
//     width: 2000px;
//     height: 500px;
//     border: 1px solid black;
//     margin: 0px 50px;
//     padding: 30px;
    
//   }
// }




@media (min-width:768px) {
  .container_produto {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
  }

  .container_imagem {
    width: 800px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
  }

  .imagem {
    width: 700px;
    height: 500px;
  }

  .container_descricao {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 0px 50px;
    padding: 30px;
    
  }

  .descricao {
    // margin: 0 30px;
    // line-height: 1.5;
    // margin-bottom: 30px;
    font-size: 16px;
  }

  .container_precoDesconto {
    margin-bottom: 20px;
  }

  .dozeVezes {
    margin-bottom: 10px;
  } 

  .freteGratis {
    margin-bottom: 10px;
  }

  .buttonAdicionar {
    
  }
}

