.title {
  text-align: center;
  margin: 15px 20px;
}


.item-opaco {
  opacity: 0.7;
  &:hover {
    transition: ease-in .3s;
    opacity: 1;
  }
}
  
  .container_precoDesconto {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 25px;
}

.desconto {
  color: green;
}

.dozeVezes {
  margin-left: 10px;
  font-size: 16px;
  color: green;
}

.preco::before {
  content:"R$ ";
}
.freteGratis {
  margin-left: 10px;
  font-size: 14px;
  color: green;
}

.descricao {
  margin: 0 10px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 13px;
}

.container_botao {
  display: flex;
  justify-content: center;
}

.buttonComprar {
  color: white;
  background-color: #3483fa;
  padding: 20px 80px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
  text-transform: uppercase;
}


.buttonAdicionar {
  color: #3483fa;
  background-color: #3483fa3a;
  padding: 20px 54px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: pointer;
}


.quemViu {
  margin: 30px 45px;
  margin-left: 30px;
  font-size: 16px;

}

.conatiner-sugeridos {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 820px;
  &:hover {
    transition: ease-in .2s;
    max-width: 870px;
  }
  * {
    scrollbar-width: auto;
    scrollbar-color: #92928b #d3d4ce;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #d3d4ce;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #92928b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

@media (min-width:768px) {
  .container_produto {
    display: flex;
    justify-content: center;
    margin: 0 50px;
  }

  .container_imagem {
    width: 400px;
    height: 550px;
    text-align: center;
  }

  .imagem {
    width: 700px;
    height: 500px;
  }

  .container_descricao {
    width: 400px;
    height: 550px;
    padding: 30px;
  }

   .container_precoDesconto {
    margin-bottom: 20px;
    margin: 0 30px;
  }

  .dozeVezes {
    margin-bottom: 10px;
    margin-left: 30px;
  } 

  .freteGratis {
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .descricao {
    font-size: 16px;
    margin-left: 30px;
  }

  .buttonAdicionar {
    margin-top: 10px;
  }

  .quemViu {
    margin-left: 280px;
    font-size: 16px;
  }
}

@media (min-width:1440px) {
  .quemViu {
    
    margin-left: 535px;
  }
}

