*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-produtos {
    margin-top: 5rem;
    padding: 1rem;
    border: 1px red solid;
    background-color: aqua;

    h2 {
        margin-bottom: 1rem;
    }
}

.linha-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
}

