@import '../../Sass/abstracts/variables.scss'; 

.div-notfound {
    margin: 0 auto;
    text-align: center;
}

.h1-notfound {
    font-size: 4rem !important;
}

.h2-notfound {
    font-size: 2.5rem !important;
}

.link {
    font-size: 2rem;
    text-decoration:none;
    color: $primary-color-dark;
    &:hover{
        color:$secondary-color !important;
    }
}