#header {
    font-size: 1.2rem;
}
.carrinho-icon {
    transform: translateX(3.5rem);

}
.logo {
    width: 40px;    
    max-width: 100%;
}

.qntd-item {
    display: inline-block;
    font-size: 20px;
    transform: translate(3.8rem, 1rem);
}